<?php
define( 'DB_NAME', '{{ db_name }}' );
define( 'DB_USER', '{{ db_user }}' );
define( 'DB_PASSWORD', '{{ db_password }}' );
define( 'DB_HOST', '{{ db_host }}' );
define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );

define('WP_HOME', 'http://{{ site_domain }}:{{ site_port }}');
define('WP_SITEURL', 'http://{{ site_domain }}:{{ site_port }}');

// Obtener sales de la API de WordPress
{{ lookup('url', 'https://api.wordpress.org/secret-key/1.1/salt/', split_lines=False) | safe }}

// Table prefix is set directly as required by WordPress, not with define()
$table_prefix = '{{ table_prefix | default("wp_") }}';

define( 'WP_DEBUG', false );

if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

require_once ABSPATH . 'wp-settings.php';
